body{
    font-family: 'Dosis', sans-serif;
}

#datosusuario{
    width: 50%;
}

#repositorios{
    width: 50%;
}

#resultados{
    display: flex;
    justify-content: space-between;
}

#datosusuario > label {
    display: block;
}

#repositorys{
    list-style: none;
}